/* Debian language css file for romanian - ro */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=ro] q:before { content: "\201E"; }
html[lang=ro] q:after { content: "\201D"; }
html[lang=ro] q q:before { content: "\00AB"; }
html[lang=ro] q q:after { content: "\00BB"; }

html[lang=ro] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=ro] blockquote.quote p:after { content: ""; }
html[lang=ro] blockquote.quote p.last:after { content: "\201D"; }
